{% extends 'base.html.twig' %}

{% block title %}Reservas{% endblock %}

{% block body %}
<link href="{{ asset('CSS/reserva.css') }}" rel="stylesheet" />

<form action="{{ path('enviar_Peluquero') }}" method="post">
    {<label for="servicio">Elija un servicio</label>
    <select name="servicio" id="servicio" required>
        {% for servicio in servicio %}
            <option value="{{ servicio.id }}">{{ servicio.nombre }} ({{ servicio.duracion }} minutos)</option>
        {% endfor %}
    </select>}

    <label for="peluquero">Elija a su peluquero</label>
    <select name="peluquero" id="peluquero" required>
        {% for peluquero in peluquero %}
            <option value="{{ peluquero.id }}">{{ peluquero.nombre }} {{ peluquero.apellido }}</option>
        {% endfor %}
    </select>

    <button type="submit">Siguiente</button>
</form>
{% endblock %}
