{% extends 'base.html.twig' %}


{% block body %}
<div class="Encabezado">
    {% include 'header/headerAdministrador.html.twig' %}
</div>
    <h1>Listas de peluqueros</h1>
    <a href="{{path('peluqueros_registrar')}}">Agregar peluquero</a>
<div >

    <lo>
    {% for p in peluqueros %}
        <li>
        Nombre: {{p.usuario.nombre}} {{p.usuario.apellido}}
        Contacto: {{p.usuario.email}}
        <form method="post" action="{{ path('peluquero_baja', {'id': p.usuario.id}) }}" onsubmit="return confirm('¿Estás seguro de que querés eliminar este usuario?');">
        <input type="hidden" name="_token" value="{{ csrf_token('eliminar_usuario_' ~ p.usuario.id) }}">
        <button class="btn btn-danger">Dar baja</button>
        </form>
        </li>
        
    {% endfor %}
    </lo>
</div>

{% endblock %}