{% extends 'base.html.twig' %}


{% block body %}

<link href="{{ asset('CSS/inicioAdministrador.css') }}" rel="stylesheet" />
<div class="Encabezado">
    {% include 'header/headerAdministrador.html.twig' %}
</div>

    <h1 class="titulo">Bienvenido administrador "{{app.user.nombre}} {{app.user.apellido}}"</h1>


    <div class="lista_peluqueros">
    <h3>Lista de peluqueros en actividad</h3>
    <ul>
    {% for p in peluqueros %}
        <li>
        <strong>Nombre:</strong> {{p.usuario.nombre}} <br>
        <strong>Apellido:</strong> {{p.usuario.apellido}} <br>
        <strong>Contacto:</strong> {{p.usuario.email}}
        </li>
    {% endfor %}
    </ul>
</div>

<div class="lista_cliente">
    <h3>Lista de cliente registrados</h3>
    <ul>
    {% for c in cliente %}
        <li>
        <strong>Nombre:</strong> {{c.usuario.nombre}} <br>
        <strong>Apellido:</strong> {{c.usuario.apellido}} <br>
        <strong>Correo:</strong> {{c.usuario.email}} <br>
        <strong>Teléfono de contacto:</strong> {{c.contacto}}
        </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}
